---
---
.navbar{
    opacity: 0.8;
}

body,html{
    font-family:Lato,Arial,sans-serif;
}

// HOME
.front-page{
    background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(../img/image1.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100vh;
    .underline{
        border-bottom:5px solid rgb(156, 147, 147);
    }
}

// ABOUT
#about{
    background-color:#fff;

    h2{
        border-left:5px solid #a0522d;
        color: #a0522d;
        padding-left:20px;
        font-size:40px;
    }

    p{
        font-size:25px;
    }

}

// EXPERIENCE
#experience{
    background-color:#f4f4f4;
    height:100%;
}

// PROJECT
#project{
    background-color:#fff;
}

// SKILLS
#skills{
    background-color:#f4f4f4;

    img{
        width:7em;
        margin-left:auto;
        margin-right:auto;
    }
}

// EDUCATION
#education{
    .container{
        width:40%;
    }
} 

// CONTACT
#contact{
    background-color:#f4f4f4;
    height:90vh;
}

// VERTICAL SCROLL
nav#dot-nav{
    position:fixed;
    right:30px;
}

nav#dot-nav a{
    border:1px solid #121212;
    border-radius:50%;
    width:12px;
    height:12px;
    display:block;
    margin:10px;
    -webkit-transition:all .4;
    transition:all .4;
}

nav#dot-nav a.active{
    background:#121212;
}

nav#dot-nav.red a{
    border:1px solid #db2853;
}

nav#dot-nav.red a.active,nav#dot-nav.red a:first-child{
    background:#db2853;
}

.js-wp-1,
.js-wp-10,
.js-wp-2,
.js-wp-3,
.js-wp-4,
.js-wp-5,
.js-wp-6,
.js-wp-7,
.js-wp-8,
.js-wp-9{
    opacity:0;
    animation-duration:1s;
}